# ⚠️ Copy to secret.yaml, fill values, DO NOT commit!
apiVersion: v1
kind: Secret
metadata:
  name: tripkit-secrets
  namespace: tripkit
type: Opaque
stringData:
  api-token: "CHANGE_ME_openssl_rand_hex_32"
